.contact {
    background-color: #2c3e50;
    background-size: cover;
    background-attachment: fixed;
}

.contact h2 {
    color: #fff;
}

.contact .custom-divider .custom-divider-icon .fas.fa-star {
    color: #1abc9c;
}
.contact .custom-divider .custom-divider-line {
    background-color: #1abc9c;
}

.btn-outline-light.btn-social:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

/* RESPONSIVE */
@media (max-width: 575px) {
    .contact h2 {
        font-size: 1.5rem;
    }
}
