.custom-navbar {
    background-color: var(--mainColor);
}
.custom-navbar a.navbar-brand {
    font-size: 1.5rem;
}

span.logo {
    font-family: "Permanent Marker", cursive;
    color: var(--logoColor);
}

.custom-navbar .navbar-nav .nav-link.active,
.custom-navbar .navbar-nav .nav-link {
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
    color: #f8f8f8;
    transition: all 0.5s ease;
}
