/* FONTS */
@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
        url("./fonts/static/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Baloo Tamma";
    src: local("Baloo Tamma"),
        url("./fonts/Baloo_Tamma/BalooTamma-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: local("Poppins", sans-serif),
        url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
}

/* LOGO FONT */
/* @font-face {
    font-family: "Permanent Marker", cursive;
    src: local("Permanent Marker", cursive),
        url("");
} */

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

/* CSS VARIABLES */
:root {
    --mainColor: #264653;
    --mainBGColor: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
    --logoColor: #dcfc8f;
}

/* GENERAL RULES */
button:focus {
    outline: 0 !important;
}

body {
    background-color: #f8f9fa;
}

.custom-divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.custom-divider-line:first-child {
    margin-right: 0.2rem;
}
.custom-divider-line:last-child {
    margin-left: 0.2rem;
}
.custom-divider-line {
    width: 100%;
    max-width: 4rem;
    height: 0.1rem;
    background-color: var(--mainColor);
    border-radius: 1rem;
}
.fas.fa-s::before {
    color: var(--mainColor);
}

a.btn-outline-dark {
    color: var(--mainColor);
    border-color: var(--mainColor);
}

a.btn-outline-dark:hover {
    background-color: var(--mainColor);
    color: #fff;
}
